* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

main{
  background-color: #59378D;
}
.proz_header {
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar_item:hover{
  scale: 0.5;
  color: white;
  transition: all 0.2s ease-in-out;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
  color: #59378D;
}

.main_titles{
  color: white;
  padding: 0 350px 50px;

}

.main_title{
  font-size: 48px
}

.main_subtitle{
  font-size: 20px;
  padding-bottom: 30px;
}

.main_description{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px 0 0 0;
}

.main_description_1{
  background: url(img/bg_laranja.jpg);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  box-shadow: 5px 5px 30px #363636;

}

.main_description_title{
  padding: 10px 15px 15px 15px;
}

.main_description_2{
  background: url(img/bg_laranja.jpg);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  box-shadow: 5px 5px 30px #363636;
}
.main_description_p{
  padding-left: 15px;

}

.main_title, .main_subtitle{
  padding: 0 10px;
}

.initial_footer{
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.background_faixa{
  display: inline-block;
  width: 180%;
  position: relative;
  left:20px;
  height: 55px;
  background: url(img/background_formas.svg)repeat-x;
    background-image: url(img/background_formas.svg);
    background-position-x: initial;
    background-position-y: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  background-size: auto 100%;
}

.inscricao{
  color: #59378D;
  margin: 15px;
  width: 150px;
}

.inscricao_bt{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.whats{
  background-color: #45C655;
  border-radius: 7px;
  border-bottom: 4px solid #137D06;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: bold;
  margin-left: 15px;
}

.site{
  background-color: #FF9933;
  border-radius: 7px;
  border-bottom: 4px solid #9F7348;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: bold;
  margin-left: 15px;
}